/* header section */
.header_section {
    padding: 18px 0px;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
}

.sticky {
    top: 0px;
    transition: all .3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

.header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* totgle btn */

.toggle_btn {
    display: block;
    padding: 15px;
    position: relative;
    z-index: 99;
}

.toggle_btn ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
}

.toggle_btn ul li {
    height: 2px;
    width: 30px;
    background-color: var(--textColor);
}

.sticky .toggle_btn ul li {
    background-color: var(--mainColor);
}

/* mobile nav */

.mobile_nav {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(0 0 0 / 20%);
    transition: var(--transition);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.showmobileNav.mobile_nav {
    opacity: 1;
    z-index: 2;
    visibility: visible;
}

.moible_nav_content {
    position: fixed;
    top: 0px;
    left: -100%;
    width: 300px;
    height: 100vh;
    overflow-y: auto;
    background-color: var(--textColor);
    transition: var(--transition);
}

.showmobileNav .moible_nav_content {
    left: 0px;
}

.moible_nav_content::-webkit-scrollbar {
    width: 15px;
}

.moible_nav_content::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: var(--bgColor);
}

.moible_nav_content::-webkit-scrollbar-thumb {
    background: var(--primaryColor);
    border-radius: 10px;
}

.mobile_nav_wrapper {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.mobile_nav_menu {
    position: relative;
}

.mobilenav_menu_item {
    position: relative;
    padding: 10px 5px;
    cursor: pointer;
}

.mobilenav_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobilenav_menu_link {
    font-size: 20px;
    color: var(--headingColor);
}

.mobilenav_menu_icon {
    color: var(--headingColor);
}

.mobilesub_navber {
    transition: var(--transition);
    max-height: 0px;
    opacity: 0;

}

.showMobileSub {
    max-height: 700px;
    opacity: 1;
}

.mobilesubnav_title_wrapper {
    margin-top: 20px;
}

.mobilesub_menu_item {
    font-size: 17px;
    margin: 10px;
}

.mobilesub_menu_link {
    color: var(--headingColor);
}


.logo_wrapper {
    max-width: 130px;
    width: 100%;
}

.header_logo {
    margin-right: 10px;
    display: flex;
    align-items: baseline;
}

.header_logo img:nth-child(1) {
    display: block;
}

.header_logo img:nth-child(2) {
    display: none;
}

.sticky .header_logo img:nth-child(2) {
    display: block;
}

.sticky .header_logo img:nth-child(1) {
    display: none;
}

.header_btn_wrapper,
.header_nav {
    position: relative;
    display: none;
}

.nav_menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_menu_item {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px 10px;
    position: relative;
}

.nav_menu_link,
.nav_menu_icon {
    color: var(--textColor);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    transition: var(--transition);
}

.sticky .nav_menu_link,
.sticky .nav_menu_icon {
    color: var(--headingColor) !important;
}

.nav_menu_icon {
    font-size: 13px;
}

.nav_menu_item:hover .nav_menu_link {
    text-decoration: underline;
    color: var(--textColor);
}

.nav_menu_item:hover .nav_menu_icon {
    transform: rotate(180deg);
}

.header_btn {
    text-align: center;
}

.header_btn a {
    display: block;
    border: 1px solid;
    border-color: var(--textColor);
    background-color: transparent;
    color: var(--textColor);
    padding: 10px 14px 9px;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 1px 0 0 rgb(14 15 15 / 25%);
}

.sticky .header_btn a {
    border-color: #f55;
    background-color: #f55;
}

.sticky .header_btn a:hover {
    background-color: #f55;
    background-color: #f55;
}

.header_btn a:hover {
    background-color: hsla(0, 0%, 100%, .15);
}

/* sub nav */

.sub_navber {
    transition: var(--transition);
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

.nav_menu_item:hover .sub_navber {
    visibility: visible;
    opacity: 1;
    top: 100%;
}

.sub_nav_wrapper {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.sub_menu {
    min-width: 260px;
    padding-bottom: 15px;
    background-color: var(--textColor);
}

.subnav_title_wrapper {
    margin-bottom: 14px;
    padding-left: 42px;
    padding-top: 20px;
}

.subnav_title {
    color: #abaeaf;
    font-size: 14px;
}

.sub_menu_item {
    padding: 20px 22px 16px;
}

.sub_menu_link {
    font-size: 16px;
    line-height: 20px;
    color: #283338;
    display: block;
    padding-left: 20px;
}


/* banner section */
.banner_section {
    padding-top: 80px;
    padding-bottom: 60px;
    background-image: url("https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5ee2535297af096b88080180_engagement-01.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_section_analysis {
    background-image: url("https://uploads-ssl.webflow.com/5c98c492f5786d415aa3c82d/5ee24d5a6549b089dd8cb725_services-01.svg");
}

.banner_content {
    padding: 60px 10px 40px;
}

.banner_title_wrapper {
    margin-top: 20px;
    margin-bottom: 10px;
}

.banner_title {
    font-size: 44px;
    line-height: 1.3;
    font-weight: 800;
    color: var(--textColor);
}

.banner_text_inner {
    padding-bottom: 40px;
    padding-top: 10px;
}

.banner_text,
.banner_list ul li {
    line-height: 1.43;
    font-weight: 300;
    font-size: 18px;
    color: var(--textColor);
}

.banner_btn_wrapper {
    margin-top: 40px;
}

.banner_list {
    margin-top: -20px;
    margin-left: 40px;
}

.banner_list ul {
    list-style: disc;
}

.banner_btn {
    text-align: left;
}

.banner_btn a {
    display: inline-block;
    padding: 10px 32px;
    border: 1px solid #f55;
    border-radius: 2px;
    background-color: #f55;
    transition: var(--transition);
    color: var(--textColor);
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.banner_btn a:hover {
    border: 1px solid var(--mainColor);
    border-radius: 2px;
    background-color: var(--mainColor);
}

/* about section */
.about_section_content {
    margin-right: 10px;
}

.about_textinner {
    margin-bottom: 20px;
}

.about_content_text,
.about_list_item {
    font-size: 18px;
    line-height: 26px;
    color: var(--headingColor);
    font-weight: 300;
}

.about_section_thumbnail {
    padding: 0px 20px;
}

/* our clint list */

.ourclint_list {
    position: relative;
}

.ourclint_list_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.ourclint_item {
    display: block;
    padding: 10px 15px 20px;
}

.ourclint_link {
    display: block;
}

.ourclint_link img {
    height: 40px;
    max-width: 100%;
    width: 80%;
}

/* our service */

.our_service_content {
    max-width: 1140px;
    margin: 0px auto;
}

.our_service_item {
    position: relative;
    display: block;
    padding: 40px 18px;
    border: 1px solid #f1f1f1;
}

.our_service_thumbnail {
    height: 70px;
    width: 70px;
    margin: 0px auto;
}

.our_service_thumbnail img {
    height: 100%;
}

.service_item_content {
    text-align: center;
}

.our_service_heading {
    margin-top: 20px;
    margin-bottom: 10px;
}

.our_service_heading_title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: var(--primaryColor);
}

.our_service_item:hover .our_service_heading_title {
    color: var(--mainColor);
}

.serivce_text_inner {
    margin-bottom: 10px;
}

.service_text,
.analysis_item_text {
    font-size: 18px;
    line-height: 26px;
    color: var(--headingColor);
    font-weight: 300;
    text-align: center;
}

.our_service_btn {
    margin-top: 50px;
}

.our_service_btn .global_btn {
    text-align: center;
}

/* success section */

.success_section {
    background-color: var(--bgColor);
    position: relative;
}

.success_slider {
    max-width: 1120px;
    margin: 0px auto;
}

.success_slider .slick-prev,
.success_slider .slick-next {
    background: transparent;
}

.success_slider .slick-dots li button {
    background-color: var(--inputColor);
}

.slick-active button {
    background-color: var(--primaryColor) !important;
}


.success_slider .slick-dots {
    bottom: unset !important;
}


.success_slider_item {
    position: relative;
}

.succes_slider_profile {
    position: relative;
}

.success_profile_image {
    overflow: hidden;
    width: 100%;
    height: 200px;
    max-width: 200px;
    margin: 0px auto 10px;
    border-radius: 50%;
    background-color: transparent;
}

.success_profile_image img {
    height: 100%;
}

.success_profile_info {
    width: 100%;
    max-width: 300px;
    margin: 0px auto;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
    color: var(--headingColor);
}

.success_info_name {
    font-weight: bold;
}

.success_slider_text_inner {
    text-align: left;
}

.success_slider_text {
    font-size: 18px;
    color: var(--headingColor);
    line-height: 26px;
    font-weight: 300;
    text-align: center;
}

.success_slider_btn {
    margin-top: 20px;
}

.success_slider_btn .global_btn {
    text-align: center;
}

.global_btn {
    position: relative;
}

.global_btn a {
    display: inline-flex;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--primaryColor);
    border-radius: 3px;
    color: var(--primaryColor);
    font-size: 20px;
    line-height: 1.45;
    text-decoration: none;
    font-weight: 300;
    gap: 12px;
}

.global_btn a:hover .global_btn_svg {
    animation: buttonAnimation 0.8s linear infinite;
}

.global_btn_svg {
    display: flex;
}

@keyframes buttonAnimation {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(7px);
    }

    0% {
        transform: translateX(0px);
    }
}

.global_btn_svg svg {
    width: 19px;
    height: 16px;
    display: block;
}

/* video content */

.expect_video_content {
    position: relative;

}

.expect_video_content iframe {
    width: 100%;
    min-height: 270px;
}

.expect_btn_wrapper {
    margin-top: 40px;
}

.expect_btn_wrapper .global_btn {
    text-align: center;
}

/* our project section */

.recent_project {
    position: relative;
    background-color: var(--bgColor);
}

.recent_project_wrapper {
    max-width: 960px;
    width: 100%;
    margin: 0px auto;
}

.recent_project_item {
    padding-top: 20px;
    /* padding-right: 10px;
    padding-left: 10px; */
}

.project_item_inner {
    display: block;
    position: relative;
}

.project_item_content {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #f55;
    color: var(--textColor);
    padding: 15px;
    transition: var(--transition);
    visibility: hidden;
    opacity: 0;
}

.recent_project_item:hover .project_item_content {
    visibility: visible;
    opacity: 1;
}

.project_item_headingInner {
    margin-bottom: 20px;
}

.project_item_heading {
    font-size: 18px;
    line-height: 1.445;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--textColor);
    font-weight: 600;
}

.project_content_itemText {
    text-align: center;
    font-size: 18px;
    line-height: 1.445;
    font-weight: 300;
    text-align: center;
}

.project_btn_wrapper {
    margin-top: 50px;
}

.project_btn_wrapper .global_btn {
    text-align: center;
}

/* benifits section */

.benifits_section {
    background-color: var(--bgColor);
}

.benifits_wrapper {
    max-width: 1080px;
    width: 100%;
    margin: 0px auto;
}

.benifits_wrapper .row {
    gap: 20px 0px;
}

.bentifit_item {
    height: 100%;
    min-height: 320px;
    background-color: var(--textColor);
    padding: 20px;
}

.benifits_item_thumbnail {
    width: 64px;
    margin: 0px auto;
}

.benifits_item_content {
    margin-top: 20px;
}

.benifitsItem_title_inner {
    font-size: 17px;
    line-height: 24px;
    color: var(--headingColor);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.benifitsitem_text_inner {
    font-size: 19px;
    line-height: 28px;
    font-weight: 300;
    text-transform: initial;
    color: var(--headingColor);
    text-align: center;
}

/* discuss form */

.discuss_form_section {
    background-color: #005688;
}

.discuss_form_title {
    margin-bottom: 30px;
}

.discuss_heading {
    color: var(--textColor);
    font-size: 20px;
    line-height: 1.228;
    font-weight: 800;
    text-align: center;
    text-align: center
}

.discuss_form {
    max-width: 768px;
    width: 100%;
    margin: 0px auto;
}

.discus_form_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
}

.discus_form_item {
    width: 100%;
}

.discus_form_input {
    border: none !important;
    background-color: var(--bgColor) !important;
    color: var(--headingColor) !important;
}

.discus_formbtn_inner {
    position: relative;
}

.discus_formbtn_inner input {
    border: 1px solid #f55;
    border-radius: 4px;
    background-color: #f55;
    color: var(--textColor);
    display: block;
    height: 50px;
    display: grid;
    place-content: center;
    width: 150px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
}

/* technoly logo */

.technology_logo {
    background-color: #005688;
}

.technology_logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.technology_logo_wrapper img {
    display: block;
    max-width: 100%;
    width: auto !important;
    height: 55px;
    margin-right: 20px;
    margin-left: 20px;
}

/* faq section */

.faq_section {
    background-color: var(--bgColor);
}

.faq_content {
    max-width: 768px;
    width: 100%;
    margin: 0px auto;
}

.faq_item {
    background: var(--textColor);
}

.faq_item:not(:last-child) {
    margin-bottom: 30px;
}

.faq_item_content {
    padding: 15px 20px;
    background: #FFFFFF;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
}

.accordion-body {
    margin-left: 20px;
}

.accordion-button:focus {
    border: none;
    box-shadow: unset !important;
}

.faq_item_btn {
    font-size: 20px;
    line-height: 26px;
    color: var(--faqText);
    font-weight: 700;
}

.accordion-button:not(.collapsed) {
    color: var(--headingColor) !important;
    background-color: transparent !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon) !important;
}

/* overview section */

.overview_item {
    padding: 40px 30px;
    border: 4px solid var(--bgColor);
}

.overview_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.overview_wrapper .row,
.overveiw_gellary .row {
    gap: 24px 0px;
}

.overveiw_gellary {
    margin-top: 50px;
}

.overview_item_image {
    width: 80px;
    margin-right: 30px;
}

.overview_item_title {
    font-size: 34px;
    font-weight: 700;
    color: var(--headingColor);
}

.overview_item_text {
    font-size: 18px;
    line-height: 1.43;
    color: var(--headingColor);
    font-weight: 700;
}

/* rewards section */

.reward_wrapper {
    max-width: 1015px;
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

.reward_item {
    position: relative;
}

.reward_item_image {
    width: 150px;
    height: 150px;
    margin: 0px auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reward_item_image img {
    height: auto;
    width: 80%;
}

.reward_item_title {
    font-size: 17px;
    line-height: 1.43;
    font-weight: 700;
    text-align: center;
    color: var(--headingColor);
}

/* home contact */

.home_form {
    background: #005688;
}

.home_form_content {
    max-width: 860px;
    width: 100%;
    margin: 0px auto;
}

.home_contact_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 40px;
}

.home_contact_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.home_contact_item_icon {
    width: 50px;
}

.home_contact_item_text p {
    font-size: 16px;
    list-style: 22px;
    font-weight: 700;
    color: var(--textColor);
}

.input_control_home {
    background-color: var(--textColor) !important;
    color: var(--headingColor) !important;
}

.home_form_input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
}

.home_form_input_wrapper:not(:last-child) {
    margin-bottom: 20px;
}

.home_form_input_inner {
    width: 100%;
}

.home_form_input_inner textarea {
    min-height: 110px;
}

.form_policy {
    padding: 20px 0px;
}

.form_policy_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.form_policy_check input {
    height: 18px;
    width: 18px;
    display: block;
}

.form_policy_text {
    color: var(--textColor);
}

.form_policy_text a {
    color: var(--textColor);
    font-weight: 600;
}

.form_policy_text a:hover {
    text-decoration: underline;
}

.home_form_submit {
    text-align: center;
    margin-top: 20px;
}

.home_form_submit input {
    border: 1px solid #f55;
    border-radius: 4px;
    background-color: #f55;
    color: var(--textColor);
    padding: 15px 32px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

/* home contact end*/

/* protfolio section */

.input_control_filter {
    background-color: var(--textColor) !important;
    padding: 0px 15px !important;
    color: #999 !important;
    font-size: 15px !important;
    font-weight: 700 !important;
}


.input_control_filter {
    appearance: none;
}

/* protfolio section end*/

/* blog page */

.blog_banner_section {
    margin-top: 80px;
}

.page_title {
    font-size: 64px;
    padding: 79px 0 56px;
    line-height: 72px;
    color: var(--headingColor);
    font-weight: 900;
}

/* footer section */

.footer_section {
    background-color: #003859;
    padding: 100px 0px;
}

.footer_wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    position: relative;
    gap: 40px;
}


.footer_logo_wrapper {
    margin-bottom: 9px;
    padding-bottom: 10px;
}

.footer_logo {
    max-width: 135px;
    width: 100%;
    display: flex;
}

.footer_info_inner {
    position: relative;
}

.footer_info_item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    margin-bottom: 10px;
    padding-bottom: 8px;
}

.footer_info_icon {
    color: #7F9BAC;
}

.footer_info_text {
    font-size: 16px;
    color: var(--textColor);
    line-height: 1.4rem;
    font-weight: 400;
}

.footer_info_textLink {
    text-decoration: underline;
}

.footer_info_textLink:hover {
    color: var(--textColor);
}

.footer_socila_wrapper {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.footer_social_link {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    color: var(--textColor);
    background-color: rgba(0, 0, 0, .2);
    display: grid;
    place-content: center;
    transition: var(--transition);
}

.footer_social_link:hover {
    background-color: rgba(0, 0, 0, .35);
    color: var(--textColor);
}

.footer_nav {
    padding: 0px 15px;
}

.footer_menu {
    position: relative;
}

.footernav_title {
    margin-bottom: 20px;
    padding-bottom: 8px;
}

.footernav_title_link {
    font-size: 22px;
    line-height: 1.364;
    color: var(--textColor);
    font-weight: 700;
}

.footer_menu_item {
    margin-bottom: 10px;
    padding-bottom: 8px;
    line-height: 1.4;
}

.footer_nav_link {
    font-weight: 400;
    display: block;
    color: var(--textColor);
    line-height: 1.3;
    transition: var(--transition);
}

.footer_nav_link:hover {
    text-decoration: underline;
    color: var(--textColor);
}

/* business analysis page */

.analysis_project_wrapper,
.analysis_service_wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0px auto;
}

.analysis_service_wrapper {
    max-width: 1050px;
}

.analysis_item_image {
    height: 70px;
    width: 90px;
    margin-left: auto !important;
    margin-right: auto !important;
}

.analysis_item_image img {
    height: 100%;
}

.analysis_item_heading {
    margin-bottom: 10px;
}

.analysis_item_heading_title {
    font-size: 18px;
    line-height: 1.43;
    font-style: normal;
    font-weight: 700;
    color: var(--headingColor);
}

.analysis_service_item_list {
    margin-top: 20px;
    padding-left: 20px;
}

.analysis_service_item_list ul {
    list-style: disc;
}

.analysis_service_item_list ul li {
    font-size: 18px;
    line-height: 26px;
    color: var(--headingColor);
    font-weight: 300;
}

.about_analysis_contentList {
    position: relative;
}

.about_analysis_contentList ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about_analysis_contentList ul li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.about_analysis_contentList_image {
    width: 25px;
    display: flex;
}

.about_analysis_contentList_text {
    font-size: 20px;
    line-height: 30px;
    color: var(--headingColor);
    font-weight: 700;
}

.about_analysis_textInner {
    max-width: 1050px;
    width: 100%;
    margin: 40px auto 0px;
}

.about_analysis_text {
    font-size: 18px;
    color: var(--headingColor);
    font-weight: 300;
    line-height: 1.43;
}

/* business analysis page end */